@font-face {
	font-family: 'gillsansmt';
	src: url($fontsPath + 'gillsansmt.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

// @font-face {
// 	font-family: 'M05Text';
// 	src: url($fontsPath + 'M05TextWeb-Bold.woff2') format('woff2');
// 	font-weight: 700;
// 	font-style: normal;
// 	font-display: swap;
// }

// @font-face {
// 	font-family: 'M05Text';
// 	src: url($fontsPath + 'M05TextWeb-Light.woff2') format('woff2');
// 	font-weight: 300;
// 	font-style: normal;
// 	font-display: swap;
// }

// @font-face {
// 	font-family: 'M05Headline';
// 	src: url($fontsPath + 'M05HeadlineWeb-Bold.woff2') format('woff2');
// 	font-weight: 700;
// 	font-style: normal;
// 	font-display: swap;
// }
