.carousel-news {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    &__container {
        position: relative;
        display: flex;
        margin-left: -24px;
    }
    &__item {
        @extend %reset-anchor;
        min-width: 87%;
        width: 87%;
        border: 24px solid transparent;
        border-width: 0 0 0 24px;
        display: flex;
        flex-direction: column;
    }
    &__image {
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        aspect-ratio: 4/3;
    }
    &__content {
        position: relative;
        flex: 1;
        padding: 20px;
        border-radius: 0 0 10px 10px;
        background-color: #3333;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 200px;
    }
    &__controls {
        display: none;
    }
    &__date {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }
    @media ($mdUp) {
        &__item {
            min-width: 33.33%;
            width: 33.33%;
        }
        &__image {
            overflow: hidden;
            & img {
                transition: transform $t;
            }
        }
        &__controls {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
        .hoverevents &__item:hover img {
            transform: scale(1.1);
        }
    }
}