.contact {
    &__img {
        border-radius: 10px;
        overflow: hidden;
        & .image img {
            filter: grayscale(100%);
            -webkit-filter: grayscale(100%);
        }
    }
    &__item {
        padding: 30px;
        background-color: #222222;
        border-radius: 10px;
    }
    @media ($mdUp) {
        display: flex;
    }
}