.embla__viewport {
    overflow: hidden;
}
.embla__button {
    border: 0;
    outline: 0;
    border-radius: 50%;
    display: inline;
    &-inner {
        outline: 0;
        background: none;
        border: 0;
        cursor: pointer;
        & .icon-svg {
            color: $colorWhite;
            width: 40px;
            transition: color $t;
        }
    }
    &--prev &-inner {
        & .icon-svg {
            transform: rotate(180deg);
        }
    }
    @media ($mdUp) {
        .hoverevents &:hover .icon-svg {
            color: $colorSecondary;
        }
    }
}
.embla__dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
    @media ($mdUp) {
        margin-top: 0;
    }
}
.embla__dot {
    outline: 0;
    border: 0;
    width: 30px;
    height: 6px;
    background-color: $colorWhite;
    border-radius: 2px;
    &.is-selected {
        background-color: $colorSecondary;
    }
}
#embla-dot-template {
    display: none;
}