.faq {
    padding: 20px 20px 0;
    background-color: #222222;
    border-radius: 8px;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
    &__btn {
        cursor: pointer;
        position: relative;
        padding-bottom: 20px;
        h4 {
            margin-bottom: 0;
        }
        &::after {
			content: '';
			position: absolute;
			top: 8px;
			right: 22px;
			width: 11px;
			height: 11px;
			border: 2px solid $colorGrey;
			border-width: 2px 2px 0 0;
			transform: rotate(135deg) translate(-50%);
			transform-origin: 0 50%;
			transition: transform $t;
			.is-open & {
				transform: rotate(315deg) translate(-50%);
				border-color: $colorWhite;
			}
		}
    }   
    &__content {
        // height: 0;
        transition: grid-template-rows $t;
        display: grid;
        grid-template-rows: 0fr;
        .rich-text p {
            &:last-child {
                margin-bottom: 20px;
            }
        }
        .faq.is-open & {
            grid-template-rows: 1fr;
        }
    }
    &__body {
        overflow: hidden;
    }
    @media ($mdUp) {
        &__btn {
            &::after {
                top: 8px;
                right: 22px;
                width: 11px;
                height: 11px;
            }
        }
    }
}