.hero {
    z-index: 10;
    margin-top: -72px !important;
    position: relative;
    min-height: 500px;
    height: 100vh;
    &__slides {
        display: flex;
    }
    &__img {
        min-height: 500px;
        height: 100vh;
        width: 100%;
        margin-left: -100%;
        opacity: 0;
        transition: opacity 1s;
        overflow: hidden;
        &::after {
            position: absolute;
            content: "";
            background-color: linear-gradient(rgba(0, 0, 0, 0));
            background: linear-gradient(0deg, rgba(0,0,0,1) 60%, rgba(0,0,0,0.5) 100%);
            top: 70px;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .5;
        }
        & .image img {
            transition: transform 10s;
        }
        &.is-active {
            // margin-left: -100%;
            opacity: 1;
            margin-left: 0;
            & .image img {
                animation: scale linear;
                animation-duration: 10s;
            }
        }
    }
    &__content {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        transform: translate(0, -50%);
    }
    &__title {
        font-size: 40px;
    }
    &__annot {
        margin-top: 0;
        margin-bottom: 20px;
    }
    &__timeline {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6px;
        background-color: $colorSecondary;
        transform: scaleX(0);
        transform-origin: 0 50%;
        border-radius: 0 5px 5px 0;

        .is-sliding & {
            animation: scaleX linear forwards;
            animation-duration: var(--slide-duration);
        }
    }
    & .btn-glitch {
        & .icon-svg {
            transform: rotate(-55deg);
        }
    }
    @media ($mdUp) {
        //max-height: 800px;
        &__img {
            //max-height: 800px;
            & .image img {
                aspect-ratio: 16/9;
            }
        }
    }
    @media ($lgUp) {
        &__title {
            font-size: 72px;
            line-height: 1.4;
            margin-bottom: 10px;
        }
        &__annot {
            font-size: 28px;
            line-height: 36px;
            text-align: center;
            max-width: 70%;
            margin: 0 auto;
            margin-bottom: 40px;
        }
        & .button-wrapper {
            padding-top: 40px;
        }
    }
}