.link-back {
    display: flex;
    align-items: center;
    gap: 40px;
    &__link {

        display: inline-flex;
        align-items: center;
        gap: 12px;
        text-decoration: none;
        padding-top: 20px;
        & .icon-svg {
            transition: transform $t;
            &--home {
                width: 20px;
            }
        }
        &:nth-child(2) {
            position: relative;
            &::after {
                position: absolute;
                content: "";
                left: -21px;
                bottom: 0;
                width: 2px;
                height: 70%;
                background-color: $colorWhite;
            }
        }
    }
    .hoverevents &__link:hover .icon-svg--back {
        transform: translateX(-10px);
    }
    .hoverevents &__link:hover .icon-svg--home {
        animation: tilt-shaking;
        animation-iteration-count: infinite;
        animation-duration: .3s;
        transform: scale(1.2);
    }
}