.tickets {
    &__button {
        text-align: center;
        margin: 20px 0 40px 0;
    }

    &__steps {
        text-align: center;
        padding: 30px;
        background-color: #222;
        border-radius: 8px;
        height: 100%;
    }
    &__step-title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 14px;
    }
    &__rich-text {
        max-width: 800px;
        margin: 0 auto;
    }

    @media ($mdUp) {
        &__button {
            margin: 40px 0 80px 0;
        }
    }
}