html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	position: relative;
	min-width: 320px;
	max-width: 1920px;
	margin: 0 auto;
	scroll-behavior: smooth;
	overflow-x: hidden;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.8)),
    url($imgPath + '/illust/bg/bg.jpg');
	background-repeat: repeat-y;
	background-size: 100%;
	&.menu-open {
		overflow: hidden;
	}
}
:first-child {
	margin-top: 0;
}

figure {
	margin: 0;
}

/* stylelint-disable no-invalid-position-at-import-rule, comment-empty-line-before */
@import 'header';
@import 'footer';
@import 'main';
